.book-container {
    max-width: 20em;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    background: rgb(238, 173, 184);
  }
  
  .book-image {
    width: 50%;
    height: 7em;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  
  .book-info {
    width: 100%;
    text-align: center;
  }
  
  
  .book-authors {
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .book-link {
    display: inline-block;
    color: #902c8e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
  }
  
  .book-link:hover {
    color: #0056b3;
  }
  